{% extends 'base.html' %}


{% block content %}

	<h1> Edit Post </h1>

		{% if request.user.is_superuser %}

			<form action="" method="post"> {% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Update" />

			</form>

		{% else %}

			<p> Only the admin can edit posts </p>

		{% endif %}
		
{% endblock %}