{% extends 'base.html' %}


{% block content %}

	<h1> New Post </h1>

	{% if request.user.is_superuser %}

		<form action="" method="post"> {% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Save" />
	{% else %}

			<p> Only the admin can add new posts </p>

		{% endif %}

		</form>

{% endblock %}