{% extends 'base.html' %}


{% block content %}

	<h1> Delete Post </h1>

		{% if request.user.is_superuser %}
	 
	 		<form action="" method="post"> {% csrf_token %}

				<p>Are you sure you want to delete "{{ post.title }}"?</p>

				<input type="submit" value="Confirm" />

			</form>

		{% else %}

			<p> Only the admin can delete posts. </p>

		{% endif %}
		
{% endblock %}